// SECTION :: START

section#content.content
  .c-grid
    .content__wrapper.content__wrapper-1

      form.content__form(action='' method='')
        p.content__form-title hai ricevuto un invito per un PAP-TEST
        p.content__form-subtitle Inserisci il codice presente sull’invito che hai ricevuto
        label
          input(type='text' name='' placeholder='inserisci il codice qui' minlength='8' required contentForm1-input-js)
          img(src="img/flag.svg" alt="")
        a.content__form-btn(href="#" contentForm1-btn-js) INVIA

      .content__invitation
        p.content__invitation-title Come è fatto l’invito?

        .content__invitation-block-wrapper
          div
            .content__invitation-block
              img(src="img/img-content-invitation-1.png" srcset="img/img-content-invitation-1@2x.png 2x" alt="")
          div
            .content__invitation-block
              img(src="img/img-content-invitation-1.png" srcset="img/img-content-invitation-2@2x.png 2x" alt="")

    .content__wrapper.content__wrapper-2

// SECTION :: END
