// SECTION :: START

section#lp.lp
  .c-grid
    .lp__wrapper

      h1.lp__title.c-title TI INVITIAMO A TORNARE DAL 4 APRILE AL 10 APRILE.

      .lp__visual
        img(src="img/img-welcome-badge.png" srcset="img/img-welcome-badge@2x.png 2x" alt="")

// SECTION :: END
