// SECTION :: START

section#thanks.thanks
  .c-grid
    .thanks__wrapper

      p.thanks__title GRAZIE PER AVER ADERITO ALLA CAMPAGNA FILORGA
      p.thanks__subtitle #DONNECHESUPPORTANOLEDONNE
      p.thanks__desc Riceverai una mail con tutte le informazioni necessarie per prenotarwe il pap-test gratuito!

      p.footer__social-title Seguici su
      ul.footer__social
        li
          a(href="#")
            i.icon-font.icon-facebook
        li
          a(href="#")
            i.icon-font.icon-instagram

// SECTION :: END
