---
title: Filorga Fondazione Rava

pageClassName: p-home
---
extends shared/_layout

block content
  main.main.main--start(class!= pageClassName)

    include components/welcome
    include components/content
