// FOOTER :: START

footer#footer.footer
  .c-grid
    .footer__wrapper.footer__wrapper-1

      ul.footer__parther
        li
          a(href="#")
            img(src="img/img-partner-1.png" srcset="img/img-partner-1@2x.png 2x" alt="")
        li
          a(href="#")
            img(src="img/img-partner-2.png" srcset="img/img-partner-2@2x.png 2x" alt="")
        li
          a(href="#")
            img(src="img/img-partner-3.png" srcset="img/img-partner-3@2x.png 2x" alt="")
        li
          a(href="#")
            img(src="img/img-partner-4.png" srcset="img/img-partner-4@2x.png 2x" alt="")

    .footer__wrapper.footer__wrapper-2

      ul.footer__social
        li
          a(href="#")
            i.icon-font.icon-facebook
        li
          a(href="#")
            i.icon-font.icon-instagram
        li
          a(href="#")
            i.icon-font.icon-youtube

      .copyright
        a(href="#") Termini e condizioni

// FOOTER :: END
