// LOGOTYPE :: START

.logo {
  display: flex;

  &__btn {
    display: flex;
    align-items: flex-start;
    @include adaptive(767) {
      max-width: 120px;
    }

    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }
}

// LOGOTYPE :: END
