// HEADER :: START

.header {
  position: relative;
  background-color: #000000;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 86px;
    @include adaptive(767) {
      height: 70px;
    }
  }
}

// HEADER :: END
