-
  const project = 'Filorga Fondazione Rava';
  const pages = [{
      name: 'Homepage',
      href: 'index.html',
      progress: '1'
    }, {
      name: 'Thank you',
      href: 'thanks.html',
      progress: '90'
    }
  ];
